#!/sbin/openrc-run

name=mylife-home-core{{flavor}}-storage-service
command="/usr/bin/$name"
command_args=""
pidfile="/var/run/$name.pid"
start_stop_daemon_args=""
command_background="yes"

depend() {
  need localmount
  before pm2
}
